@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: var(--Outfit-font);
}

:root {
  --primary-color: #ffa600;
  --button-hover: #ecb934;
  --primary-light: #f8f0e3;
  --white-color: #fff;
  --black-color: #000;
  --text-color: #204f5e;
  --secondary-color: #23bcec;
  --text-light: #5a8695;
  --Bricolage-font: "Bricolage Grotesque", sans-serif;
  --Outfit-font: "Outfit", sans-serif;

  --transition-regular: 0.3s;
  --transition-slow: 0.6s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--Bricolage-font);
  color: var(--text-color);
}

p {
    color: var(--text-light);
}

html {
    overflow-x: hidden;
}

.logo {
    @apply font-bricolage;
    color: var(--primary-color)
}

.logo span{
    @apply font-bricolage;
    color: var(--secondary-color);
}

.navbar {
    box-shadow: 0 4px 20px rgba(32, 79, 94, .5);
}

.menu {
    transition: var(--transition-regular) !important;
}

.menu li a {
    position: relative;
    z-index: 1;
    padding: 2px 10px;
    display: inline-block;
    color: var(--text-color);
    transition: var(--transition-regular);
}

.menu li a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-color: var(--primary-light);
    transition: var(--transition-regular);
    z-index: -1;
    opacity: 0;
    transition-delay: .2s;
}

.menu li:hover a::after {
    opacity: 1;
}

.nav-form input {
    border: 4px solid var(--primary-light);
    background-color: var(--primary-light);
    position: relative;
}

.nav-form i {
    position: relative;
    top: 45px;
    font-size: 1.1rem;
    right: 20px;
    color: var(--primary-color);
}

.nav-form .react-datepicker-wrapper {
    width: 100% !important; 
}

@media screen and (max-width:1400) {
    .navbar {
        padding: 20px 2%;
    }
}

@media screen and (max-width:900px) {
    .navbar {
        padding: 20px 4%;
    }

    .menu {
        line-height: 3.25rem;
    }
}

/* Hero */
.hero {
    min-height: 100vh;
    background-image: url(assets/Hero-image.webp);
    background-position: left center;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    z-index: 9;
}

.contact-form {
    width: fit-content;
    border-radius: 10px 90px 90px 10px;
    box-shadow: 0 4px 20px rgba(32, 79, 94, .05);
}

.contact-form i {
    /* top: 45px; */
    /* right: 20px; */
    font-size: 1.4rem;
    position: relative;
}

.contact-form input {
    border:  4px solid var(--primary-light);
    background-color: var(--primary-color);
    position: relative;
}

@media screen and (max-width:900px) {
    .contact-form {
        width: 100%;
        border-radius: 10px;
        flex-direction: column;
        padding: 30px;
    }

    .contact-form .react-datepicker-wrapper{
        width: 100%;
    }
    .contact-form input {
        width: 100% !important;
    }

    .input-box {
        width: 100%;
    }
}

/* Service */
.service-item {
    height: 450px;
    border: 10px solid var(--white-color);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(32, 79, 94, .05);
    transition: var(--transition-slow);
}

.service-item img {
    width: 100%;
    height: 100%;
    transition: var(--transition-slow);
}

.service-item:hover img {
    transform: scale(1.1);
}

.service-item img {
    transition: var(--transition-slow);
}

.service-wrapper .service-item:nth-of-type(even) {
    transform: translateY(50px);
}

@media screen and (max-width:768px)  {
    .service-wrapper .service-item:nth-of-type(even) {
        transform: translateY(0px);
    }
}

/* About Section */
.about-1::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 100%;
    background-image: url(assets/section-element.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: rotate(35deg);
    top: -20px;
    left: -30px;
}

.about-image1 {
    position: absolute;
    top: -120px;
    left: 50px;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 8px solid var(--white-color);
    object-fit: cover;
}

.about-image2 {
    position: absolute;
    top: -80px;
    right: 50px;
    width: 320px;
    height: 320px;
    border-radius: 50%;
    border: 8px solid var(--white-color);
    object-fit: cover;
}

.about-image3 {
     position: absolute;
    top: 70px;
    right: 300px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 8px solid var(--white-color);
    object-fit: cover;
}

.about-image4 {
     position: absolute;
    top: 190px;
    right: 90px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 8px solid var(--white-color);
    object-fit: cover;
}

.element-image1 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -80px;
    left: 220px;
}

.element-image2 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    left: 270px;
}

.element-image3 {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 250px;
    left: 170px;
}

@media screen and (max-width: 1200px) {
    .about-image2 {
        height: 300px;
        width: 300px;
    }    
}

@media screen and (max-width: 1200px) {
    .about-image3 {
        right: 200px;
        width: 200px;
        height: 200px;
    }    
}

@media screen and (max-width: 900px) {
    .about-image {
        position: relative;
        top: 0;
        left: 0;
    
    }

    .about-images {
        display: flex;
        gap: 50px;
        flex-wrap: wrap;
    }
    
    .about-elements {
        right: 0;
    }
}

@media screen and (max-width: 767px) {
    .about-image {
        width: 65%;
        margin: auto;
        height: 350px;
    }
}

@media screen and (max-width: 500px) {
    .about-image {
        width: 100%;
        margin: 0;
    }
}

.about-2::after {
    content: '';
    position: absolute;
    width: 85%;
    height: 100%;
    background-image: url(assets/section-element.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: rotate(-35deg);
    top: -1px;
    left: -33px;
}

.testimonials.ri-arrow-right-s-line,
.testimonials.ri-arrow-left-s-line {
    color: var(--white-color);
    height: 30px;
    width: 30px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    padding: 10px;
}

.section-banner {
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.section-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(assets/section-element.png);
    background-position: center center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
}

.section-banner-element-1 {
    transform: translateX(-40%) rotate(30deg);
    z-index: -1;
}

.section-banner-element-2 {
    transform: translateX(-50%) rotate(-30deg);
    z-index: -1;
}
.section-banner-element-3,
.section-banner-element-4,
.section-banner-element-5 {
    top: 25%;
    left: 50%;
    width: 70px;
    height: 70px;
}

.section-banner-element-4 {
    top: 70%;
    left: 80%;
}

.section-banner-element-5 {
    top: 70%;
    left: 15%;
}

@media screen and (max-width: 575px) {
    .section-banner-content h1 {
        font-size: 3rem;
    }    
}